{% extends 'base.html' %}
{% block title%}
<div class="container">
    <h1>Welcome to the Pokefinder</h1>
    <h6>This website lets you search for any Pokemon you want.</h6>
    {% if current_user.is_authenticated %}
        <button type="button" onclick="window.location.href='/search'"class="btn btn-success">Let's Get Started</button>
    {% else %}
    <button type="button" onclick="window.location.href='/login'"class="btn btn-success">Let's Get Started</button>
    {% endif %}
    </div>
{% endblock %}