{% extends 'base.html' %}

{% block content %}
<h1 id="login-text">Login</h1>
<div class="form">
    {% if incorrect_login %}
    <p class="invalid-input">The email and/or password you entered is incorrect. Try again.</p>
    {% endif %}
<form method="POST">
    {{ form.hidden_tag() }}

    {{form.email(class='form-control', placeholder='Email')}}
    {{form.password(class='form-control', placeholder='Password')}}
    {{form.submit(class='form-button btn btn-info')}}
</form>
<a class="signup-link nav-link active" href="/signup">Click here to make an account</a>
</div>

{% endblock %}